h1{
    color: darkslategray;
    font-size: 40px;
    font-family: 'Press Start 2P';
    font-size: 22px;                               
    text-align: center;
}
body{
    background-image: URL("Images/wallpaper8.jpg");
    background-repeat: no-repeat;
    background-size: 1400px 700px ;
}
.bodyfgames{
    background-image: url("Images/wallpaper1.jpg");
    background-repeat: no-repeat;
    background-size: 1400px 700px ;
}
.games{
    background-image: url("Images/wallpaper7.jpg");
    background-repeat: no-repeat;
    background-size: 1400px 700px ;
}
.aboutme{
    background-image: url("Images/wallpaper3.jpg");
    background-repeat: no-repeat;
    background-size: 1400px 700px ;
}
p{
    color: darkslategray;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.navbar{
text-align: center;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }
      
input[type=submit] {
    background-color: darkslategrey;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
      
input[type=submit]:hover {
        background-color: lightgrey;
    }
      
.container {
    border-radius: 20px;
    background-color: rgb(240, 157, 243);
    padding: 20px;
    border: 15px solid rgb(202, 81, 182);
}  
.faq{
    color: darkslategray;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.sub{
  position: relative;
  left: 65%;
}
h2{
    text-align: center;
}
.content2{
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
    font-family: 'Cute Font', cursive;
    font-size: 30px;
}
.apic1{
    float: left;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
    
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
}
    tr:nth-child(odd) {
        background-color: #d592f0;
  }
 tr:hover {background-color: rgb(206, 76, 136);
}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e280ae;
    color: white;}
.consoles{
    column-count: 3;
    column-gap: 100px;
    column-rule: 10px solid lightblue;
    flex-direction: row;
}
.contactme{
    background-image: url("Images/wallpaper2.png");
    background-repeat: no-repeat;
    background-size: 1400px 700px ;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.logo{
        background-color: lightgrey;
        width: 90px;
        border: 5px solid rgb(114, 157, 206);
        margin: 10px;
        text-align: center;
        position: relative;
        left: 3%;
      }
.intro {
    height: 400px;
    width: 400px;
    background-color: rgba(133,207,254,1);
    border: 15px solid rgb(202, 81, 182);
    border-radius: 12px;
    padding: 0px;
    font-family: 'Gorditas', cursive;
    font-size: 20px;
}
      